<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Variable inspector</title>
    <script src="/js/main.js"></script>
    <link href="/css/bulma.min.css" rel="stylesheet" type="text/css"> 
    <script src="/js/plotly-latest.min.js"></script>
    <script src="/js/socket.io.min.js"></script>
</head>
<body>

    <script>
        var socket = io.connect( "{{ yaml_url }}" );

        socket.on('stream_newdata', function(msg) {
            app.ports.toElm_stream_newdata.send(msg)
            <!-- console.log(msg); -->
        });


    </script>

    <div id="elm"></div>
    <script>

    var app = Elm.Main.init({
      node: document.getElementById('elm'),
      flags: "{{ yaml_url }}"
    });

    var firstRun = true;

    app.ports.toJS_plotly.subscribe(function(msg) {


            config     = {responsive: true}
            data       = msg[0];
            layout     = msg[1];

            if(firstRun) {
                Plotly.newPlot('plotly-div',  {
                    data       : data,
                    layout     : layout,
                    config     : config
                });
                firstRun = false;
            } else {
                Plotly.react('plotly-div',  {
                    data       : data,
                    layout     : layout,
                });
            }


    });
	</script>

</body>
</html>
